/* Table Area */
.table-container {
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.table-container .table-wrapper {
    max-height: 610px;
    overflow-y: auto;
}

.table-container .tabs {
    display: flex;
    gap: 10px;
}

.table-container .tab {
    padding: 8px 16px;
    border: none;
    background: #eee;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.5rem;
    transition: 0.3s;
}

.table-container .tab:active {
    background: var(--dark-color);
    color: white;
}

.table-container .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
}

.table-container thead {
    position: sticky;
    top: 0;
}

.table-container th {
    text-align: left;
    padding: 15px 20px;
    background: #f8f9fa;
    color: #7f8c8d;
    font-size: 1.4rem;
}

.table-container td {
    padding: 15px 20px;
    border-bottom: 1px solid #eee;
}
